@media (min-width: 768px) {
    #sidebarMenu {
        position: fixed;
        top: 56px;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #f8f9fa;
        border-right: 1px solid #dee2e6;
        transform: none !important;
        visibility: visible !important;
    }

    .content {
        margin-left: 250px;
        margin-top: 56px;
    }
}

@media (max-width: 767.98px) {
    .content {
        margin-top: 56px;
    }
}